@{
    ViewData["Title"] = "Home Page";
}

@{
    var personaIdClaim = User.FindFirst("personaId");
    var personaId = personaIdClaim != null ? personaIdClaim.Value : "No ID";
}

<div class="container">
    <div class="row mx-auto">
        <a class="btn btn-primary col-lg-8 mt-4 mx-auto" title="Editar" asp-controller="EstadoAcademico" asp-action="Index" asp-route-id="@personaId">Estado academico</a>
        <a class="btn btn-primary col-lg-8 mt-4 mx-auto" title="Editar" asp-controller="AlumnoMateria" asp-action="MateriasDisponibles" asp-route-alumnoId="@personaId">Inscribirse a materia</a>
        <a class="btn btn-primary col-lg-8 mt-4 mx-auto" title="Editar" asp-controller="DocenteCurso" asp-action="Cursos" asp-route-idDocente="@personaId">Docente cursos</a>
    </div>
</div>