@model MateriaModel
<h3 class="display-6 text-center">Editar materia - @Model.PlanDescripcion</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-12 pb-3 pb-md-0  mx-auto">
            <partial for="@Model" name="_formularioMateria" />
        </div>
    </div>
</div>