<div class="modal fade" id="modalPlan" tabindex="-1" role="dialog" aria-labelledby="planModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg container-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="planModalLabel">Seleccione un plan</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label style="color:black" for="selectEspecialidades" class="form-label">Especialidades:</label>
                    <select id="selectEspecialidades" class="form-control form-control-sm">
                        <option value="">Seleccione una especialidad</option>
                    </select>
                </div>
                <table id="tablePlan" class="table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>