@using Business.Entities;
 @model UI.Web.Models.PlanViewModel



<form asp-action="Guardar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" hidden />
            <div class="mb-3">
                <div class="col-md-12">
                    <label asp-for="Descripcion" class="form-label col-form-label-sm col-form-label-lg">Descripción</label>
                    <input type="text" asp-for="Descripcion" class="form-control form-control-sm">
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label for="Especialidad" class="form-label control-label col-form-label-sm col-form-label-lg">Especialidad</label>
            <select asp-for="EspecialidadId" class="form-select">
                        <option value="">Selecciona una especialidad</option>
                        @foreach (var especialidad in @Model.Especialidades as List<EspecialidadViewModel>)
                        {
                            <option value="@especialidad.Id">@especialidad.Descripcion</option>
                        }
                    </select>
            <span asp-validation-for="EspecialidadId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <input type="submit" value="Guardar" class="btn btn-success w-100 mb-3" />
                </div>
                <div class="col-md-6 col-lg-6">
                    <a asp-action="Index" class="btn btn-danger w-100 mb-3">Cancelar</a>
                </div>

            </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}