@model IEnumerable<UI.Web.Models.MateriaViewModel>

<table id="table" class="display responsive nowrap table table-sm table-dark table-stripedtable table-dark table-striped" style="width:100%"></table>

