@model UI.Web.Models.MateriaViewModel

<div  id="formulario"  class="row container tab-pane fade">
    <div class="col-md-4">
        <form id="formMateria" asp-action="_MateriaFormularioViewModel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HSSemanales" class="control-label"></label>
                <input asp-for="HSSemanales" class="form-control" />
                <span asp-validation-for="HSSemanales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HSTotales" class="control-label"></label>
                <input asp-for="HSTotales" class="form-control" />
                <span asp-validation-for="HSTotales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submitMateria" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
