@model UI.Web.Models.PlanViewModel

@{
    ViewData["Title"] = "Nuevo plan";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Nuevo">
            <h4>Datos del plan</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecialidadId" class="control-label"></label>
                <select asp-for="EspecialidadId" class="form-control" asp-items="@(new SelectList(Model.Especialidades, "Id", "Descripcion"))">
                    <option value="">Seleccione una especialidad</option>
                </select>
                <span asp-validation-for="EspecialidadId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input id="submitPlan"  type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Volver a planes</a>
            </div>
        </form>
    </div>

    <div class="col-md-8">
        <div class="container">
            <div class="row">
                 <h4>Materias</h4>
                 <input type="button" value="Agregar materia" id="btnAgregarMateria" class="btn btn-primary ml-auto" />
            </div>
        </div>
        <hr />
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a id="navMaterias" class="nav-link active" data-toggle="tab" href="#materias">Lista de materias</a>
      </li>
      <li class="nav-item">
        <a id="navFormulario" class="nav-link disabled" data-toggle="tab" href="#formulario">Formulario</a>
      </li>
    </ul>


        <div class="tab-content">
            <hr />
            <partial name="_MateriaPartialView" for="Materias">
            <partial name="_MateriaFormularioViewModel" for="Materia">
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/initDatatables.js"></script>
    <script type="text/javascript" src="~/js/PlanesScripts.js"></script>
    <script type="text/javascript">
        let columns = [
            { data: "descripcion", title: "Descripción" },
            { data: "hsSemanales", title: "Horas semanales" },
            { data: "hsTotales", title: "Horas totales" },
            { data: null, title:"Acciones", 
               render: function (data, type, full, meta) {
                   return '<button onclick="'+hola(data)+'" class="btn btn-primary">Editar</button> <button class="btn btn-primary">Borrar</button>'
               }
            }
        ]
        init(columns);

        function hola(data){
            console.log(data);
        }
    </script>
}
