@model UI.Web.Models.EspecialidadViewModel

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Esta seguro de borrar la siguiente especialidad?</h3>
<div>
    <form asp-action="Borrar">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    

        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a especialidades</a>
    </form>
</div>
