@model UI.Web.Models.CursoViewModel

@{
    var curso = Model.Id == 0 ? "Nuevo" : "Editar"; 
}


<h3 class="text-center display-6">@curso curso</h3>
        <form asp-action="@curso">
            <div class="row">
        <div class="col-md-4 col-12 col-lg-6 mx-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 col-lg-4">
                <label asp-for="AnioCalendario" class="form-label"></label>
                <input asp-for="AnioCalendario" class="form-control form-control-md" />
                <span asp-validation-for="AnioCalendario" class="text-danger"></span>
            </div>
            <div class="mb-3 col-lg-4">
                <label asp-for="Cupo" class="form-label"></label>
                <input asp-for="Cupo" class="form-control form-control-md" />
                <span asp-validation-for="Cupo" class="text-danger"></span>
            </div>
  
            <input asp-for="MateriaId" hidden />
            <input asp-for="ComisionId" hidden /> 
            <input asp-for="Id" hidden />
 
  
                              <div class="mb-3">
                <label asp-for="ComisionDescripcion" class="form-label"></label>      
                  <div class="input-group">
                    <input asp-for="ComisionDescripcion" readonly disabled class="form-control form-control-md" style="caret-color:transparent;" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalComision">
                          Seleccionar comisión
                        </button>
                    </div>
                  </div>
                <span asp-validation-for="ComisionId" class="text-danger"></span> 
            </div>
            <div class="mb-3">
                <label asp-for="MateriaDescripcion" class="form-label"></label>      
                  <div class="input-group">
                    <input asp-for="MateriaDescripcion" readonly disabled class="form-control form-control-sm" style="caret-color:transparent;" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Seleccionar materia
                        </button>
                    </div>
                  </div>
                <span asp-validation-for="MateriaId" class="text-danger"></span> 
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <input type="submit" value="@curso"  class="btn btn-success  w-100 mb-3" />
                </div>
                <div class="col-md-6 col-lg-6">
                    <a class="btn btn-danger w-100 mb-3" asp-action="Index">Volver a cursos</a>
                </div>

            </div>

            </div>



    </div>
        </form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
