@model IEnumerable<UI.Web.Models.ComisionViewModel>


<div class="modal fade" id="modalComision" tabindex="-1" role="dialog" aria-labelledby="comisionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg container-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comisionModalLabel">Seleccione una materia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                <div class="mb-3">
                    <label style="color:black" for="selectEspecialidades" class="form-label">Especialidades:</label>
                    <select id="selectEspecialidades" class="form-control form-control-sm">
                        <option value="">Seleccione una especialidad</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label style="color:black" for="selectPlan" class="form-label">Planes:</label>
                    <select id="selectPlanes" class="form-control form-control-sm">
                        <option value="">Seleccione un plan</option>
                    </select>
                </div>
           <table id="tableComision" class="table"></table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

