<div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg container-fluid" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comisionModalLabel">Inscripción a materia</h5>
            </div>
            <div class="modal-body">
                <p>¿Desea inscribirse a la catedra?</p>
            </div>
            <div class="modal-footer">
                <button id="btnConfirmar" type="button" data-bs-dismiss="modal" class="btn btn-success">Aceptar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>