@model AlumnoMateriaViewModel

@{
    ViewData["Title"] = "Index";
}
"<div class="row mt-4">
    <div class="col-lg-12">
        <div><h2 class="text-center">Comisiones disponibles para la catedra: @Model.MateriaTitulo</h2></div>
    </div>
</div>
<div class="container-fluid">
    <table id="table" class="table table-striped  nowrap " style="width:100%;">
        <thead class="thead-dark">
            <tr>
                <th>Comisión</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CursosDisponibles)
            {
                <tr>
                    <td class="text-wrap">
                        @Html.DisplayFor(modelItem => item.Comision.Descripcion)
                    </td>
                    <td class="text-center">
                        <form method="post" asp-action="CrearInscripcion" id="inscripcion">
                            <input id="cursoId" name="cursoId" hidden value="@item.Id" />
                        </form>
                        <button id="inscribirse" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalConfirmar">Inscribirse</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<partial name="_ModalConfirmarInscripcion" />


@section scripts {
    <script>
        $(document).ready(function () {
            let formSelected = null;
            let selectedId = null;
            let table = new DataTable('#table', {
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [1] }
                ],
                language: {
                    "emptyTable": "No existen alumnos registrados",
                    "search": "Buscar: ",
                    "zeroRecords": "No se han encontrado especialidades en la busqueda",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                responsive: true,
                pageLength: 5,
                lengthChange: false,
                info: false,
            });





            $('#inscribirse').click(function (event) {
                formSelected = $(this).closest('tr').find('form')
                console.log(formSelected);
                selectedId = $('#cursoId').val();
                $('#modalConfirmar').modal('show');
            })

 

            $('#btnConfirmar').click(function () {

                formSelected.submit();
                $("#modalConfirmar").modal("dismiss");
            });
        });
    </script>
}
