@model (string Titulo,string Entidad)
<h2 class="display-6 text-center">@Model.Titulo</h2>
    <div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="@Model.Entidad" asp-action="Nuevo" class="btn btn-primary">Crear @Model.Entidad</a>
        </div>
    </div>
</div>