@using Business.Util
@model TipoPersonaEnum
    @{
    TipoPersonaEnum persona = @Model;
    string personaText = string.Empty;
    string plural = string.Empty;
    }
    @switch(Model)
    {
       case TipoPersonaEnum.ALUMNO:
            personaText = "alumno";
        plural = "Alumnos";
        break;
       case TipoPersonaEnum.PROFESOR:
            personaText = "profesor";
        plural = "Profesores";
        break;
    default:
            break;
     }

<h2 class="display-6 text-center">@plural</h2>
    <div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="Persona" asp-action="Nuevo" class="btn btn-primary" asp-route-tipopersona="@Model">Crear @personaText</a>
        </div>
    </div>
</div>