<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Academia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarTogglerDemo02">
            <ul class="navbar-nav flex-grow-1">
                @if (User.HasClaim("tipoPersona", "2"))
                {
                    <li><a class="nav-item dropdown-item" asp-area="" asp-controller="Inscripcion" asp-action="MisCatedras">Inscripciones</a></li>

                }
                else
                {
                    <li><a class="nav-item dropdown-item" asp-area="" asp-controller="Inscripcion" asp-action="AlumnosCatedras">Inscripciones</a></li>
                }
            </ul>
            <span class="navbar-text">

                @if (User.Identity.IsAuthenticated)
                {
                    var nombre = User.Claims.FirstOrDefault(x => x.Type == "Name").Value;
                    var surname = User.Claims.FirstOrDefault(x => x.Type == "Surname").Value;
                    @string.Format("{0} {1}", nombre, surname)

                    <a asp-controller="Login" asp-action="Loginout">Salir</a>
                }



            </span>
        </div>
    </div>
</nav>