@using Business.Entities.Enums;
@model InscripcionProfesorViewModel

<partial for="@Model" name="_formularioAsignacionProfesor"></partial>

@section scripts {

    <script>
        $(document).ready(function () {
            var table = new DataTable('#table', {
                "columns": [
                    { "data": "id", "name": "Id", "title": "Id", "autoWidth": true, "class": "read_only", "visible": false, },
                    { "data": "legajo", "name": "Legajo", "title": "Legajo", "autoWidth": true },
                    { "data": "nombre", "name": "Nombre", "title": "Nombre", "autoWidth": true },
                    { "data": "apellido", "name": "Apellido", "title": "Apellido", "autoWidth": true },
                    { "data": null, "defaultContent": '<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seleccionar</button>', "name": "Descripcion", "title": "", "autoWidth": true },
                ],
                columnDefs: [
                    {
                        target: 0,
                        visible: false,
                        searchable: false
                    }
                ],
                responsive: true,
                language: {
                    "emptyTable": "No se han encontrado profesores",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                lengthChange: false,
                info: false,
            })



            $.ajax({
                type: "POST",
                url: "/InscripcionProfesor/GetProfesoresEnCurso/" + @Model.CursoId,
                success: function (response) {
                    let list = []
                    $.each(response, function (index, profe) {
                        list.push({ id: profe.id, legajo: profe.legajo, nombre: profe.nombre, apellido: profe.apellido })
                    })
                    table.clear().rows.add(list).draw();
                },
                error: function (error) {
                    console.log(error);
                }
            });

            table.on('click', 'button', function (e) {
                let data = table.row(e.target.closest('tr')).data();
                console.log(data)
                $("#Docente").val(data.apellido + ' ' + data.nombre)
                $("#DocenteId").val(data.id);
                $('#staticBackdrop').modal('hide');

            });
        })

    </script>
        }