@model List<CursoViewModel>;
<h3 class="display-6 text-center">Inscripción de profesor a curso</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver al inicio</a>
        </div>
    </div>
</div>
<div class="container row">

        <div class="mb-3 col-md-4">
            <label style="color:black" for="selectEspecialidades" class="form-label">Especialidades:</label>
            <select id="selectEspecialidades" class="form-select form-control form-control-sm">
                <option value="">Seleccione una especialidad</option>
            </select>
        </div>
        <div class="mb-3 col-md-4">
            <label style="color:black" for="selectPlan" class="form-label">Planes:</label>
        <select id="selectPlanes" class="form-select form-control form-control-sm">
                <option value="">Seleccione un plan</option>
            </select>
        </div>
        <div class="mb-3 col-md-4">
            <label style="color:black" for="selectComisiones" class="form-label">Comisiones:</label>
        <select id="selectComisiones" class="form-select form-control form-control-sm">
                <option value="">Seleccione una comisión</option>
            </select>
        </div>
    
</div>
<div class="row">
    <div class="container">

        <table id="table" class="display responsive nowrap table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th hidden></th>
                    <th class="text-center">Año calendario</th>
                    <th class="text-center">Materia</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>




@section scripts {
    <script>
        $(document).ready(function () {

            let columnsData = [
                { data: "id", visible:false},
                { data: "anioCalendario", title: "Año calendario", className: "text-center" },
                { data: "materiaDescripcion", title: "Materia", className: "text-center" },
                {
                    data: null, title: "Acciones",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        const id = data.id;
                        console.log(id);
                        const url = `/InscripcionProfesor/Profesores?id=${id}`;
                        return `<a class="btn btn-primary btn-sm" href="${url}">Asignaciones</a>`;
                    }
                }
            ]
            let tCursos = new DataTable('#table',{
                language: {
                    "emptyTable": "No hay cursos con los filtros ingresados",
                    "search": "Buscar",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                responsive: true,
                pageLength: 5,
                lengthChange: false,
                info: false,
                columns:columnsData
            });




            $.ajax({
                type: "GET",
                url: "/Especialidad/Especialidades",
                success: function (response) {
                    $.each(response, function (index, opcion) {
                        $("#selectEspecialidades").append(
                            $("<option>", {
                                value: opcion.id,
                                text: opcion.descripcion
                            })
                        )
                    })
                },
                error: function (error) {
                    console.log(error);
                }
            });

            $("#selectEspecialidades").change(function () {
                var selectedValue = $(this).val();


                $.ajax({
                    type: "POST",
                    url: "/Plan/PlanesByEspecialidad",
                    data: { id: selectedValue },
                    success: function (response) {
                        $("#selectPlanes option").not(":first").remove();
                        $.each(response, function (index, opcion) {
                            $("#selectPlanes").append(
                                $("<option>", {
                                    value: opcion.id,
                                    text: opcion.descripcion
                                })
                            )
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });


            $("#selectPlanes").change(function () {
                var selectedValue = $(this).val();


                $.ajax({
                    type: "POST",
                    url: "/Comision/ComisionesByPlan",
                    data: { id: selectedValue },
                    success: function (response) {
                        $("#selectComisiones option").not(":first").remove();
                        $.each(response, function (index, opcion) {
                            $("#selectComisiones").append(
                                $("<option>", {
                                    value: opcion.id,
                                    text: opcion.descripcion
                                })
                            )
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });


            $("#selectPlanes").change(function () {
                var selectedValue = $(this).val();


                $.ajax({
                    type: "POST",
                    url: "/Comision/ComisionesByPlan",
                    data: { id: selectedValue },
                    success: function (response) {
                        $("#selectComisiones option").not(":first").remove();
                        $.each(response, function (index, opcion) {
                            $("#selectComisiones").append(
                                $("<option>", {
                                    value: opcion.id,
                                    text: opcion.descripcion
                                })
                            )
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $("#selectComisiones").change(function () {
                let selectedValue = $(this).val();


                $.ajax({
                    type: "POST",
                    url: "/Curso/GetCursosByComision",
                    data: { idComision: selectedValue },
                    success: function (response) {
                        console.log(response)
                        tCursos.clear().rows.add(response).draw();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });





        });
    </script>
}