@using Business.Util
@model IEnumerable<UI.Web.Models.PersonaViewModel>

@{
    ViewData["Title"] = "Index";
}

@{
    var tipo = TipoPersonaEnum.ALUMNO;
}


<h2 class="display-6 text-center">Alumnos</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center text-md-left p-2">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Volver al inicio</a>
        </div>
    </div>
</div>
<div class="container row">


        <div class="mb-3 col-md-4">
            <label style="color:black" for="selectPlan" class="form-label">Planes:</label>
        <select id="selectPlanes" class="form-select form-control form-control-sm">
                <option value="">Seleccione un plan</option>
            </select>
        </div>

    
</div>
<div class="container-fluid">

    <table id="table" class="table table-striped  nowrap " style="width:100%;">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Legajo)
                </th class="text-center">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var table = new DataTable('#table', {
                language: {
                    "emptyTable": "No existen alumnos inscriptos",
                    "search": "Buscar: ",
                    "zeroRecords": "No se han encontrado alumnos en la busqueda",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "columns": [
                    { "data": "legajo", "className": "text-center" },
                    { "data": "apellido", "className": "text-center" },
                    { "data": "nombre", "className": "text-center" },
                    {
                        "data": null, // Puedes usar cualquier campo para la acción
                        "title":"Acciones",
                        "className": "text-center",
                        "render": function (data, type, row) {
                            return '<a class="btn btn-primary btn-sm" title="Editar" href="/AlumnoInscripcion/Inscripciones/' + data.id + '"><i class="fa fa-pencil fa-sm" aria-hidden="true"></i> Catedras</a>';
                        }
                    }
                ],
                responsive: true,
                pageLength: 5,
                lengthChange: false,
                info: false,
            });

            
                $.ajax({
                    type: "GET",
                    url: "/Plan/GetPlanes",
                    success: function (response) {
                        $("#selectPlanes option").not(":first").remove();
                        $.each(response, function (index, opcion) {
                            $("#selectPlanes").append(
                                $("<option>", {
                                    value: opcion.id,
                                    text: opcion.descripcion
                                })
                            )
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

                 $("#selectPlanes").change(function () {
                var selectedValue = $(this).val();


                $.ajax({
                    type: "POST",
                    url: "/Persona/AlumnosByPlan",
                    data: { idPlan: selectedValue },
                    success: function (response) {
                    console.log(response)
                    let list = []
      
                         table.clear().rows.add(response).draw();
                          
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });


    </script>

}