<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1>¡Página no encontrada!</h1>
                    <p>Lo siento, pero la página que estás buscando no existe.</p>
                    <p>Aquí hay algunas cosas que puedes hacer:</p>
                    <ul>
                        <li><a href="/">Volver a la página principal</a></li>
                        <li><a href="javascript:history.back()">Volver a la página anterior</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>